body{
    margin: 0px;
    padding: 0px;
    font-family:"Quicksand", serif;

}
main {
  background-color: white;
  width: 80%;
  max-width: 800px;
  margin: auto;
  margin-top: 0;
  
}


nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    list-style-type: none;
    text-align: center;
}
nav li{
 
    padding: 5px;

}
nav a{
    text-decoration: none;
    color: #ffbec4;
   
}
.fejleckep img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
}
.cim{
    text-align: center;
    color: #ffbec4;
    background-color: white;
    padding: 0px;
}

.cicak,.tippek,.rolunk{
    background-color:#ffbec4 ;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin-bottom: 20px;
}
.szovegCicak,.szovegTippek,.szovegRolunk{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}
.gombCicak,.gombTippek,.gombRolunk{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    display: grid;
    place-items: center;
    
}
.gombCicak a,.gombTippek a,.gombRolunk a{
    text-decoration: none;
    text-align: center;
    color:white;
    background-color: #ffbec4;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
}
.rolunk h2{
    text-align: center;
    font-size: 18px;
    margin-bottom: 0px;
}
.rolunk p{
    margin-top: 5px;
}

/*box shadow*/
.szovegCicak, .gombCicak, .gombTippek, .szovegTippek, .gombRolunk, .szovegRolunk, .gombCicak a, .gombTippek a, .gombRolunk a{
    box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
}
footer{
    text-align: right;
    font-size: 14px;
    padding: 0px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 1fr 8fr;
}
footer img{
  width: 80px;
  height: 50px;
  padding: 0px 0px 0px 10px;
}

/*telefon  nezet*/

@media only screen and (max-width: 420px) {/* töréspont */
    body {
        width: 100%;
    }
    main {
        font-size: 20px;
        width: 100%;
    
  
  }
  nav li{
    display: grid;
    place-items: center;
  }
  nav ul{
    grid-template-columns: 1fr;
    padding: 0%;
    
  }
  .cicak,.tippek,.rolunk{
    grid-template-columns: 1fr;
    display: grid;
    place-items: center;
  }
  }
  