body{
    margin: 0px;
    padding: 0px;
    font-family:"Quicksand", serif;

}
main {
  background-color: white;
  width: 80%;
  max-width: 800px;
  margin: auto;
  margin-top: 0;
  
}
nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    list-style-type: none;
    text-align: center;
    padding: 0;
}
nav li{
    padding: 5px;
}
nav a{
    text-decoration: none;
    color: #ffbec4;
}
.fejleckep img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
}
.cim{
    text-align: center;
    color: #ffbec4;
    background-color: white;
    padding: 0px;
}

.regisztracio{
    background-color:#ffbec4 ;
    border-radius: 20px;
    padding: 20px;
    
}

.gomb{
    text-align: center;
}

input{
    border-radius: 8px;
    border: 0cap;
}


@media only screen and (max-width: 420px) {/* töréspont */
    body {
        width: 100%;
    }
    main {
        font-size: 16px;
        width: 100%;
  }
  nav{
    font-size: 25px;
  }
  nav li{
    display: grid;
    place-items: center;
  }
  nav ul{
    grid-template-columns: 1fr;
    padding: 0%;
    
  }
  .cicak,.tippek,.rolunk{
    grid-template-columns: 1fr;
    display: grid;
    place-items: center;
  }
  .regisztracio{
    place-items: center;
  }
  }
  