body{
    margin: 0px;
    padding: 0px;
    font-family:"Quicksand", serif;

}
main {
  background-color: white;
  width: 80%;
  max-width: 800px;
  margin: auto;
  margin-top: 0;
  
}
article{
    padding-top: 10px;
    background-color: #ffbec4;
    border-radius: 15px;
}

nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    list-style-type: none;
    text-align: center;
}
nav li{
    padding: 5px;
}
nav a{
    text-decoration: none;
    color: #ffbec4;
   
}
.szovegBeszoktatas img{
    border-radius: 15px;
    width: 280px;
    align-self: center;
    margin-left: 80px;
}

h1{
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 0px;
}
.beszerzes,.beszoktatas,.tablazat{
    background-color:#ffbec4 ;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr ;
    gap: 5px;
    margin-bottom: 20px;
}
.szovegBeszerzes,.szovegBeszoktatas{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}
.szovegBeszoktatas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px 20px 5px 20px;
}
.szovegBeszoktatas,.szovegBeszerzes,.tablazat,.tablazat table{
    box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
}
.tablazat{
    text-align: center;
    border-collapse:collapse;
}
table{
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
}
tr:nth-child(odd) {
    background-color:#ffbec4;
    
}
footer{
    text-align: right;
    font-size: 14px;
    padding: 0px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 1fr 8fr;
}
footer img{
  width: 80px;
  height: 50px;
  padding: 0px 0px 0px 10px;
}
@media only screen and (max-width: 420px) {/* töréspont */
    body {
        width: 100%;
    }
    main {
        font-size: 16px;
        width: 100%;
    
  }
  nav{
    font-size: 25px;
  }
  nav li{
    display: grid;
    place-items: center;
  }
  nav ul{
    grid-template-columns: 1fr;
    padding: 0%;
  }
 
  }
  @media only screen and (max-width: 850px) {/* töréspont */
    body {
        width: 100%;
    }
    main {
        font-size: 20px;
        width: 100%;
  }
  nav{
    font-size: 25px;
  }
  .szovegBeszoktatas{
    grid-template-columns: 1fr;
    display: grid;
    place-items: center;
  }
  .szovegBeszoktatas img{
    border-radius: 20px;
    width: 280px;
    align-self: center;
    margin: 0px;
    padding: 10px;
    margin-bottom: 20px;
}
  }